body {
    background-color: #000;
    margin: 0;
    padding-block: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Images/void.gif");
    font-family: 'Mason', sans-serif;
}
@font-face {
    font-family: 'Mason';
    src: url('Fonts/Mason.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* border: solid 1px red; /*Временно */
:root {
    --title-color: rgb(143, 153, 188);
    --text-color: rgb(4, 149, 155);
    --link-text-hover: rgb(6, 185, 178);
    --border-color: rgb(3, 72, 69);
    --bg-color: rgba(0, 0, 0, 0.7);
}
.titleBlock {
    color: var(--title-color);
    width: 100%;
    height: auto;
    max-width: 500px;
    min-height: 40px;
    background-color: var(--bg-color);
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.contentBlock {
    color: #fff;
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: var(--bg-color);
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
a {
    color: var(--text-color);
    text-decoration: none;
    margin-inline: 20px;
    margin-block: auto;
}

a:hover {
    color: var(--link-text-hover);
    text-decoration: none;
    border-left: groove var(--link-text-hover);
    border-right: groove var(--link-text-hover);
}
img {
    width: 100%;
    height: auto;
}
#afterlife {
    margin-top: 30px; 
    border-bottom: 3px solid var(--border-color);
}
#enterTheMatrix {
    border-bottom: solid var(--border-color);
}
#playgroundTitle {
    margin-top: 30px; 
    border-bottom: 3px solid var(--border-color);
}
#playgroundContent img {
    border-radius: 5%;
}
#playgroundContent img:hover {
    transform: scale(0);
    transition: transform 35s ease;
    border-radius: 5%;
}
#playgroundContent a:hover{
    background-image: url("Images/test.gif");
    border-radius: 5%;
}
#playgroundContent a {
    border-left: none;
    border-right: none;
    margin-inline: 0;
    margin-block: 0;
}
#playgroundContent a:hover {
    border-left: none;
    border-right: none;
}