body {
    background-color: #000;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Контейнеры в столбец */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    background-image: url("Images/void.gif"); /* Укажите путь к своей картинке */
    font-family: 'UnifrakturCook', cursive; /* Применяем готический шрифт */
}
/* border: solid 1px red; /*Временно */
.titleBlock {
    color: #8f99bc;
    width: 100%;
    height: auto;
    max-width: 500px;
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-block: 10px;
}
.contentBlock {
    color: #fff;
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
a {
    color: rgb(4, 149, 155); /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт */
    margin-inline: 20px;
    margin-block: auto;
}

a:hover {
    color: rgb(6, 185, 178); /* Цвет текста при наведении */
    text-decoration: none; /* Подчеркивание при наведении */
}


img {
    width: 100%; /* Изображение занимает 50% ширины контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    padding: 10px;
}
#afterlife {
    margin-top: 30px; 
    border-bottom: 3px solid #034845;
}
#enterTheMatrix {
    border-bottom: solid #034845;
}
#links {
    border-top: none;
}
