body {
    background-color: #000;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Контейнеры в столбец */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    background-image: url("Images/void.gif"); /* Укажите путь к своей картинке */
    font-family: 'Mason', sans-serif; /* Применяем шрифт */
}
@font-face {
    font-family: 'Mason'; /* Название шрифта */
    src: url('Fonts/Mason.ttf') format('truetype'); /* Добавьте другие форматы, если необходимо */
    font-weight: normal; /* Укажите вес шрифта */
    font-style: normal; /* Укажите стиль шрифта */
}
/* border: solid 1px red; /*Временно */
:root {
    --title-color: rgb(143, 153, 188);
    --text-color: rgb(4, 149, 155);
    --link-text-hover: rgb(6, 185, 178);
    --border-color: rgb(3, 72, 69);
    --bg-color: rgba(0, 0, 0, 0.7);
}
.titleBlock {
    color: var(--title-color);
    width: 100%;
    height: auto;
    max-width: 500px;
    min-height: 40px;
    background-color: var(--bg-color);
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.contentBlock {
    color: #fff;
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: var(--bg-color);
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
a {
    color: var(--text-color); /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    margin-inline: 20px;
    margin-block: auto;
}

a:hover {
    color: var(--link-text-hover); /* Цвет текста при наведении */
    text-decoration: none; /* Подчеркивание при наведении */
    border-left: groove var(--link-text-hover);
    border-right: groove var(--link-text-hover);
}
img {
    width: 100%; /* Изображение занимает 50% ширины контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    padding: 10px;
}
#afterlife {
    margin-top: 30px; 
    border-bottom: 3px solid var(--border-color);
}
#enterTheMatrix {
    border-bottom: solid var(--border-color);
}